<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>과제 등록 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
        }

        #task-create-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        div > div {
            width: 40%;
        }

        div > button {
            width: 10%;
        }

    </style>
</head>
<body>
<div></div>
<h1>과제 등록하기</h1>
<div id="task-create-wrapper">
    <div class="mb-3">
        <label>과제명</label>
        <input type="text" class="form-control" id="task_name_input" placeholder="과제명 입력해주세요.">
    </div>
    <div class="mb-3">
        <label>과제 설명</label>
        <input type="text" class="form-control" id="task_desc_input" placeholder="과제 대한 설명을 적어주세요.">
    </div>
    <div class="mb-3">
        <label>과제 시작일</label>
        <input type="date" class="form-control" id="task_start_at"
               placeholder="과제 시작일을 선택해주세요.">
    </div>
    <button class="btn btn-primary btn-lg" id="task-create-fetch-button" type="button" onclick="create_task()">생성하기</button>
</div>
<script src="/js/common/config.js"></script>
<script src="/js/manager/task-create-fetch.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>